[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/phpcomplete"]
	path = .vim/bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/javascript-syntax"]
	path = .vim/bundle/javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/javascript-libraries-syntax"]
	path = .vim/bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
